<!DOCTYPE html>
<html>
<head>
	<title>SOCIALCRAFT</title>
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
	<header><h1 class="gradient-text">SOCIALCRAFT</h1></header>
	<div class="container">
		<div class="block main-info">
      <h2 class="info">Информация о нашем сервере</h2>
      <p>Наш сервер в основном является политическим, но также имеет нотки РПГ. 
        Разработка сервера началась ещё в начале 2022 года, но была заморожена из-за некоторых обстоятельств. 
        Однако в начале 2023 года разработка была продолжена. Чтобы увидеть что мы добились за это время ждём вас на нашем сервере 
        под названием <b><span style="color: rgb(226, 223, 19);">SOCIAL</span><span style="color: rgb(240, 56, 56);">CRAFT</span></b></p>
      <h2 class="info2"><pre>   Основные особенности</pre></h2>
      <ul>
        <li>Интересные плагины</li>
        <li>Отзывчивая администрация</li>
        <li>Необычные квесты</li>
        <li>Розыгрыши</li>
        <li>Кастомные данжи</li>
      </ul>
    </div>
		<div class="block donate">
			<h2>Донат</h2>
			<!-- <p>Поддержите наш сервер, приобретая следующие услуги:</p> -->
      <script src="https://api.trademc.org/trademcapi.js"></script>
      <div id="donate"></div>
      <script>TrademcAPI.GetBuyForm({"Shop":"175605","Title":"Поддержите наш сервер, приобретая следующие услуги","Nickname":"Введите ваш никнейм","Item":"Выберите товар","Coupon":"Введите купон, если он есть","Button":"Продолжить","Success_URL":"127.0.0.1:5000","Pending_URL":"127.0.0.1:5000","Fail_URL":"127.0.0.1:5000","PastPlaceID":"donate","Styles":"../static/css/style.css"});</script>
			<!-- <ul>
				<li>Описание услуги 1</li>
				<li>Описание услуги 2</li>
				<li>Описание услуги 3</li>
			</ul> -->
		</div>
		<div class="block about">
			<h2>О нас</h2>
			<p>Мы команда энтузиастов, которые создали этот сервер Minecraft. Наша цель - предоставить игрокам уникальный игровой опыт. Более подробную информацию можно узнать в наших соц. сетях в ВК и ДС.</p>
      <div class="discord-widget">
        <div class="discord-icon"><img src="https://cdn.discordapp.com/icons/938142772563677215/3e471655629584714ed539a1f15d827b.webp?size=96"></div>
        <a href="https://discord.gg/FQg5qbjvFM" target="_blank">Присоединиться к каналу в Discord</a>
        <div class="discord-server-name"><b><span style="color: rgb(226, 223, 19);">SOCIAL</span><span style="color: rgb(240, 56, 56);">CRAFT</span></b></div>
      </div>
      <div class="discord-widget">
        <div class="discord-icon"><img src="https://sun6-23.userapi.com/s/v1/ig2/Y2eyZ_ren69eNgz9XGzdIjgvoOlWSZ7c25CPiyov_oqjF6hJU5hrZ5HaE64GimaZqXNJXrc5VRF_ZgxkXfpzO5U3.jpg?size=100x100&quality=95&crop=265,0,512,512&ava=1"></div>
        <a href="https://vk.com/mcsocialcraft" target="_blank">Присоединиться к нашей группе ВК</a>
        <div class="discord-server-name"><b><span style="color: rgb(226, 223, 19);">SOCIAL</span><span style="color: rgb(240, 56, 56);">CRAFT</span></b></div>
      </div>
		</div>
	</div>
</body>
</html>